
body {
    margin: 100px 0 3em 0;
    border: 1px solid red;
    height: 100%;
}

html {
    height: 100%;
}

.main {
    clear: both;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0 3em 0;

    height: 80%;
    min-height: 100%;
    border: 1px solid green;
}

#background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.15;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/roland-burke/ScotlandYardServer/dev/resources/map_large.png");
}

.game-wrapper {
    display: flex;
    justify-content: space-evenly;
}

/* ==== Index ==== */

.index-wrapper {
    background-color: #cae4ff;
    border: 2px solid #000000;
    border-radius: 6px;
    display: inline-block;
    padding: 25px;
}

/* ==== Game ==== */

.game-controls {
    background-color: #ffe8b1;
    border: 2px solid #000000;
    border-radius: 6px;
    align-items: center;
    padding: 5px;
    margin: 10px 20px 10px 20px;
}

.game-controls div {
    margin: 15px;
}

.game-controls * {
    display: inline;
}

.stats-wrapper {
    background-color: #96b9ec;
    border: 2px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stats-item {
    background-color: #b2dbff;
    border: 2px solid #25313e;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
}

.history-wrapper {
    background-color: #96b9ec;
    border: 2px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.history-item {
    background-color: #b2dbff;
    border: 2px solid #25313e;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

/* === Map === */

.map-wrapper {
    border: 4px groove #5b5b8a;
    border-radius: 5px;
}

/* === Buttons === */

.standard-button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:16px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.standard-button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.standard-button:active {
    position:relative;
    top:1px;
}

.main-menu-button {
    box-shadow: 5px 4px 5px 3px #c7c7c7;
    background:linear-gradient(to bottom, #7cb7eb 5%, #2b4d7a 100%);
    background-color:#7cb7eb;
    border-radius:20px;
    border:4px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Courier New;
    font-size:20px;
    font-weight:bold;
    padding:16px 30px;
    text-decoration:none;
    text-shadow:3px 3px 2px #393947;
}
.main-menu-button:hover {
    background:linear-gradient(to bottom, #2b4d7a 5%, #7cb7eb 100%);
    background-color:#2b4d7a;
}
.main-menu-button:active {
    position:relative;
    top:1px;
}

/* ==== Header ==== */

header {
    background-color: #93b2e0;
    box-shadow: 0 0 25px 0 black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    display: flex;
    align-items: center;
    text-align: center;
}

/* The '*' is a placeholder for every element in the header */
header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    font-size: 25px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ==== Footer ==== */

.footer {
    background-color: #c4c4c4;
    position: fixed;
    height: 3em;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* ==== Map Nav ==== */

#wrapper {
    width: 300px;
    float: right;
    display: flex;
    align-items: center;
}
#left {
    float: left;
}
#middle {
    float: left;
}
#right {
    float: right;
}

.map-button {
    background-color: #b9b9f8;
    border-radius: 6px;
    font-size: 15px;
}
