#wrapper {
    width: 310px;
    overflow: hidden;
}
#left {
    width: 100px;
    float:left;
}
#middle {
    width: 100px;
    float: left;
}
#right {
    width: 100px;
    float: left;
}

#background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.15;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/roland-burke/ScotlandYardServer/dev/resources/map_large.png");
}

.header {
    text-align: center
    height: 310vh;
    width: 100%;
    background-color: #000000;
}

.main {
    clear: both;
    text-align: center;
    vertical-align: middle;
    height: 80%;
}

.footer {
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 0;
}
