#wrapper {
    width: 310px;
    overflow: hidden;
}
#left {
    width: 100px;
    float:left;
}
#middle {
    width: 100px;
    float: left;
}
#right {
    width: 100px;
    float: left;
}

#background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.15;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/roland-burke/ScotlandYardServer/dev/resources/map_large.png");
}

.all {
    position: relative;
}

.header {
    float: top;
    text-align: center;
    height: 10%;
    width: 100%;
    border: 1px solid black;
}

.main {
    clear: both;
    text-align: center;
    vertical-align: middle;
    height: 80%;
    border: 1px solid black;
}

.footer {
    clear: both;
    text-align: center;
    border: 1px solid black;
}
