@(message: String)

<div class="main">
    <div id="about">
        <h3>Description</h3>
        <p>Scotland Yard is a board game in which a team of players, as police, cooperate to track down a player controlling a criminal around a board representing the streets of London,
            first published in 1983. It is named after Scotland Yard, the headquarters of London's Metropolitan Police Service. Scotland Yard is an asymmetric board game,
            with the detective players cooperatively solving a variant of the pursuit-evasion problem. The game is published by Ravensburger in most of Europe and Canada
            and by Milton Bradley in the United States. It received the Spiel des Jahres (Game of the Year) award in 1983.
        </p>

        <h3>Rules</h3>
        <h4>Object of the game</h4>
        <p>If you are Mister X,you must stay undercover to escape from your pursuers until the detectives can no longer move
            However if you are a detective, your purpose is to catch Mister X by moving onto the playing area where he is currently hiding</p>

        <h4>Setup</h4>
        <p>Every detective receives the following tickets when the game begins:</p>
        <ul>
            <li>11 Taxi</li>
            <li>&nbsp;8 Bus</li>
            <li>&nbsp;4 Underground</li>
        </ul>
        <p>Mister X gets:</p>
        <ul>
            <li>99 Taxi</li>
            <li>99 Bus</li>
            <li>99 Underground</li>
            <li>&nbsp;2 Black</li>
        </ul>

        <form method="get" action="/">
            <input class="standard-button" type="submit" value="Back to Main Menu">
        </form>
    </div>
</div>