@()(implicit request: RequestHeader, assetsFinder: AssetsFinder)

<div id="game-wrapper-total" style="position: relative; overflow-x: hidden;">

    <div v-if="model !== null && model.win" id="winning-background" class="winning-background"></div>
    
    <div v-if="model !== null">
        <game-map
        v-bind:playersdata="model.player"
        ref="gamemap"
        ></game-map>/>
    </div>

    <div class="container-fluid" style="overflow: hidden;
        position: absolute;
        top: 0;
        pointer-events: none">

        <div class="row">
            <div class="col w-25 d-flex justify-content-center">
                <div style="padding-top: 40px">
                    <div class="game-round justify-content-center">
                        <div v-if="model !== null">
                            <head-line
                            v-bind:round="model.round"
                            v-bind:color="extractCurrentPlayer.color" 
                            v-bind:name="extractCurrentPlayer.name"
                            v-bind:win="model.win"
                            ></head-line>
                        </div>
                        <div v-else>
                            <h2>Loading..</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="history-wrapper" id="history-wrapper">
                    <div v-if="model !== null">
                        <history
                        v-bind:historyobject="model.history"
                        ></history>
                    </div>
                    <div v-else>
                        <h2>Loading..</h2>
                    </div>
                </div>
            </div>
            <div id="win" class="col-lg-8 d-flex justify-content-center" style="z-index: 5">
                <div v-if="model !== null && model.win">
                    <div id="winning-dialog" class="winning-dialog col d-flex flex-column justify-content-between">
                        <!--<div id="close-button" class="d-flex justify-content-end">
                            <button v-if="audio !== undefined" v-on:click="model.win = true" class="close-button">X</button>
                        </div>-->
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <div class="row" id="winning-row">
                                    <h1 v-if="model.winningPlayer === 'MrX'" id="winning-title">MrX Won!!!</h1>
                                    <h1 v-else id="winning-title">Detectives Won!!!</h1>
                                </div>
                                <div class="row" id="winning-subtitle" class="d-flex justify-content-center">
                                    <div v-if="model.winningPlayer === 'MrX'">MrX escaped successfully</div>
                                    <div v-else>MrX was caught at Station: {{extractCurrentPlayer.station}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" id="win-image">
                            <img v-if="model.winningPlayer === 'MrX'" width="250px" height="250px" src="assets/images/mrx-win.PNG" alt="MrX">
                            <img v-else width="250px" height="250px" src="assets/images/detective-win.PNG" alt="Detective">
                        </div>
                        <div id="win-button" class="row d-flex justify-content-center align-items-center align-self-center">
                            <a href="/">
                                <button class="standard-button">Main Menu</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex justify-content-end">
                <div class="stats-wrapper" id="stats-wrapper">
                    <div v-if="model !== null">
                        <stats
                        v-bind:playersdata="model.player"
                        ></stats>
                    </div>
                    <div v-else>
                        <h2>Loading..</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fixed-bottom" style="z-index: 1">
            <div class="col d-flex justify-content-center w-25">
                <div class="game-controls" id="game-controls" style="pointer-events: all">
                    <div v-if="model !== null">
                        <game-controls
                        v-bind:name="extractCurrentPlayer.name"
                        ></game-controls>
                    </div>
                    <div v-else>
                        <h2>Loading..</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/stylesheets/game.css"/>
<script type="module" src="/assets/javascripts/game/app.js"></script>
<script src="/assets/javascripts/game/components.js" type="application/javascript"></script>