@import de.htwg.se.scotlandyard.model.playersComponent.DetectiveInterface
@import model.Game.controller

@(currentPlayer: DetectiveInterface, mrXPosition: String, map: Html)(implicit request: RequestHeader)

<div>

    <div class="game-wrapper">
        <div>
            <h3>Mr.X History</h3>
        </div>
        @map
        <div>
            <h3>Stats</h3>
        </div>
    </div>

    <div class="game-controls">
        <form name="gameForm" method="post" action="@routes.GameController.movePlayer">
            @helper.CSRF.formField

            <div>
                <label>Taxi</label>
                <input type="radio" checked="true" id="taxi" value="t" name="transport">
            </div>
            <div>
                <label>Bus</label>
                <input type="radio" id="bus" value="b" name="transport">
            </div>
            <div>
                <label>Underground</label>
                <input type="radio" id="underground" value="u" name="transport">
            </div>
            <div>
                <label>Black Ticket</label>
                @if(currentPlayer.equals(controller.getPlayersList()(0))) {
                    <input type="radio" id="black" value="x" name="transport">
                } else {
                    <input disabled="true" type="radio" id="black" value="x" name="transport">
                    }
            </div>

            <div>
                <input type="number" name="station" value="">
                <input class="move-player-button" type="submit" value="Move Player">
            </div>
        </form>

    </div>

    @if(currentPlayer.name.equals("MrX")) {
        <form method="get" action="@routes.GameController.revealMrXPosition">
            <input type="submit" value="Reveal Mr.X Position">
        </form>
    }
    @if(!mrXPosition.isEmpty) {
        <div>Mr.X is at Station: @mrXPosition</div>
    }

</div>
