@*
* This template takes a two arguments, a String containing a
* message to display and an AssetsFinder to locate static assets.
*@
@(message: String)(implicit assetsFinder: AssetsFinder)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to ScotlandYard")(false) {
    <div class="main">
        <div class="index-wrapper">
            <div class="row my-3 d-flex justify-content-center">
                <a class="main-menu-button" href="/settings">Start Game</a>
            </div>
            <div class="row my-3 d-flex justify-content-center">
                <label class="main-menu-button">
                    <input type="file"/>
                    Load Game
                </label>
            </div>
            <div class="row d-flex justify-content-center">
                <a class="main-menu-button" href="/about">About</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/stylesheets/index.css"/>
}