<template>
    <div id="app">
        <div v-if="model !== undefined">
            <div v-if="gameMode">
                <game v-bind:model="model"></game>
            </div>
            <div v-else>
                <lobby v-bind:lobby="lobby"></lobby>
            </div>
        </div>
    </div>
</template>


<script src="/assets/javascripts/app.js" type="module"></script>
<script src="/assets/javascripts/lobby/components.js" type="application/javascript"></script>
<script src="/assets/javascripts/game/components.js" type="application/javascript"></script>