@(mapString: String)(implicit request: RequestHeader)

<div>
    <pre>@mapString</pre>

    <div id="wrapper">
        <div id="left">
            <form method="post" action="@routes.MapController.moveMap("aaaa")">
                @helper.CSRF.formField
                <input type="submit" value="Map left">
            </form>
        </div>

        <div id="middle">
            <form method="post" action="@routes.MapController.moveMap("www")">
                @helper.CSRF.formField
                <input type="submit" value="Map up">
            </form>

            <form method="post" action="@routes.MapController.moveMap("sss")">
                @helper.CSRF.formField
                <input type="submit" value="Map down">
            </form>
        </div>

        <div id="right">
            <form method="post" action="@routes.MapController.moveMap("dddd")">
                @helper.CSRF.formField
                <input type="submit" value="Map right">
            </form>
        </div>
    </div>


</div>
