@import de.htwg.se.scotlandyard.model.playersComponent.DetectiveInterface

@(titleString: String)(implicit request: RequestHeader)
<div id="settings" class="container settings-wrapper">
    <div class="row d-flex justify-content-center">
        <h1>@titleString</h1>
    </div>
    <div class="row">
        <div class="col settings-panel">
            <div class="settings-player d-flex justify-content-center">
                    <div v-for="n in player" class="player-number-wrapper">
                            <label class="radio-button-label">{{n}} Players</label>
                            <div v-if="n == 3">
                                <input type="radio" checked="true" @@click="setNumberOfPlayer(n)" id="n+Players" :value="n" name="nPlayer">
                                <span class="radio-button"></span>
                            </div>
                            <div v-else>
                                <input type="radio" class="radio-button" @@click="setNumberOfPlayer(n)" id="n+Players" :value="n" name="nPlayer">
                                <span class="radio-button"></span>
                            </div>
                    </div>
            </div>
        </div>
        <div class="col settings-panel d-flex justify-content-center">
            <div class="settings-name d-flex justify-content-center flex-column align-items-center">
                    <select id="name-select" name="playerIndex">
                        <option name="player" disabled="true" value="0">MrX</option>
                        <div v-for="name in names">
                            <option name="player" value="name-${index}">{{ name }}</option>
                        </div>
                    </select>
                    <input id="name-input" oninput="nameInput()" type="text" value="" name="playerName">
                <button id="name-input-button" class="standard-button" disabled="true" onclick="setName()">Set Player Name</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col settings-panel">
            <div class="d-flex justify-content-center" style="margin: 20px">
                <button class="standard-button" onclick="startGame()">Start Game</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/javascripts/settings.js" type="application/javascript"></script>
<link rel="stylesheet" href="/assets/stylesheets/settings.css"/>